h1 {
	color: blue;
	font-size: 50px;
	background-color: #ad00ad;
	padding: 20px;
	border-radius: 50px;
	text-align: center;
	margin: 0;

}

h2{
	margin-left: 100px;
}
head{
	margin:0;
}
body{
	background-color: lightgrey;
}
p{
	margin-left: 100px
}